<template>
  <div class>
    <p class="fade" v-show="currLen ==='short'">{{ bio['short'] }}</p>
    <p class="fade" v-show="currLen ==='medium'">{{ bio['medium'] }}</p>
    <p class="fade" v-show="currLen ==='long'">{{ bio['long'] }}</p>
    <p class="fade" v-show="currLen ==='lifestory'">{{ bio['lifestory'] }}</p>
    <div v-if="showBtns" class="text-center">
      <small style="vertical-align: middle;">Short</small>
      <span
        class="fa-stack clickable"
        style="vertical-align: top;"
        @click="randomShort(); currLen = 'short'"
      >
        <i class="far fa-circle fa-stack-2x"></i>
        <i class="fas fa-circle fa-stack-1x fade" :class="{ hideit: !(currLen === 'short') }"></i>
      </span>
      <span class="fa-stack clickable" style="vertical-align: top;" @click="currLen = 'medium'">
        <i class="far fa-circle fa-stack-2x"></i>
        <i class="fas fa-circle fa-stack-1x fade" :class="{ hideit: !(currLen === 'medium') }"></i>
      </span>
      <span class="fa-stack clickable" style="vertical-align: top;" @click="currLen = 'long'">
        <i class="far fa-circle fa-stack-2x"></i>
        <i class="fas fa-circle fa-stack-1x fade" :class="{ hideit: !(currLen === 'long') }"></i>
      </span>
      <span class="fa-stack clickable" style="vertical-align: top;" @click="currLen = 'lifestory'">
        <i class="far fa-circle fa-stack-2x"></i>
        <i class="fas fa-circle fa-stack-1x fade" :class="{ hideit: !(currLen === 'lifestory') }"></i>
      </span>
      <small style="vertical-align: middle;">Long</small>
    </div>
  </div>
</template>

<style scoped>
.hideit {
  display: none;
}

.fade {
  animation: fadein 0.4s ease-in;
}

@keyframes fadein {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}
</style>

<script lang="ts">
import Vue from "vue";

const shorts = [
  "Brendan did his best.",
  "Brendan believes everyone can contribute.",
  "Brendan is a gif expert.",
  "Brendan has strong opinions, loosely held.",
  "Brendan is a professional DevOops Engineer.",
  "Brendan knows enough to be dangerous.",
  "Brendan is waiting for Brendan (Taylor's Version)",
  "Brendan belongs to Houses Hufflepuff & Pfizer",
  "Brendan is the problem. Hi. He's the problem it's me.",
  "Brendan's imposter syndrome has imposter syndrome.",
  "Brendan uses git. But he doesn't really understand it, let's be real.",
  "Brendan has too many children. Four is too many.",
  "Brendan knows all work is due.",
  "Brendan primarily consumes information via merge request.",
  "Brendan is a 1x developer and a 4x dad 🧒🏻👧🏼🧒🏻👧🏼"
];

export default Vue.extend({
  data() {
    const short = shorts[Math.floor(Math.random() * shorts.length)];
    return {
      currLen: "",
      bio: {
        short,
        medium:
          "Brendan O'Leary is a Staff Developer Evangelist for GitLab who connects with developers, contributes to open source projects, and shares his thoughts on cutting-edge technologies on conference panels, meetups, in contributed articles and on blogs.",
        long:
          "Brendan O'Leary is a Staff Developer Evangelist at GitLab, the One DevOps platform, a governing board member at the Cloud Native Computing Foundation, and an advisor to various startups. Having worked in software his entire career, Brendan has had the privilege of working with many customers. From the nation's top healthcare institutions to environmental services companies to the Department of Defense - every company is a software company. That means every company needs software and DevOps operational excellence. Outside of work, you'll find Brendan with 1 to 4 kids hanging off of him at any given time or occasionally finding a moment alone to build something in his workshop.",
        lifestory:
          "Brendan O'Leary is a Staff Developer Evangelist at GitLab, the One DevOps platform, a governing board member at the Cloud Native Computing Foundation, and an advisor to various startups. That means he connects with developers, contributes to open source projects, and shares his thoughts on cutting-edge technologies on conference panels, meetups, contributed articles, and blogs. He is passionate about software development and iterating on processes as quickly as we iterate on code. Working with customers to deliver value drives Brendan's passion for DevOps and smooth CI/CD implementation. Having worked in software his entire career, Brendan has had the privilege of working with many customers. From the nation's top healthcare institutions to environmental services companies to the Department of Defense - every company is a software company. That means every company needs software and DevOps operational excellence. Outside of work, you'll find Brendan with 1 to 4 kids hanging off of him at any given time or occasionally finding a moment alone to build something in his workshop.",
      },
    };
  },
  props: {
    len: {
      type: String,
      default: "medium",
    },
    showBtns: {
      type: Boolean,
      default: true,
    },
  },
  mounted() {
    this.setLen(this.len);
  },
  methods: {
    randomShort() {
      this.bio.short = shorts[Math.floor(Math.random() * shorts.length)];
    },
    setLen(len) {
      this.currLen = len;
    },
  },
});
</script>
