<template>
    <figure v-bind:style="{ width: width, align: talign }">
        <img :src="image" :alt="caption" style="max-width: 100%;"/>
        <figcaption v-if="caption" class="image-caption">
            {{caption}}
        </figcaption>
    </figure>
</template>

<script>
export default {
    props: {
        image: String,
        caption: String,
        width: String,
        talign: {
            type: String,
            default: 'left'
        }
    }
}
</script>