<template>
<div>
    <figure class="swap-on-hover">
        <img  class="swap-on-hover__front-image" src="/img/desk_with_overlay.png"/>
        <img class="swap-on-hover__back-image" src="/img/desk.png"/>
    </figure>
</div>
</template>

<style scoped>
.swap-on-hover {
  position: relative;	
  margin:  0 auto;
  height: 500px;
}

.swap-on-hover img {
  position: absolute;
  top:0;
  left:0;
  overflow: hidden;
}

.swap-on-hover .swap-on-hover__front-image {
  z-index: 9999;
  transition: opacity .5s linear;
  cursor: pointer;
}

.swap-on-hover:hover > .swap-on-hover__front-image{
  opacity: 0;
}

</style>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({

})
</script>