<template>
<ClientOnly>
    <disqus></disqus>
</ClientOnly>
</template>

<script>
import disqus from '../theme/components/disqus.vue';

export default {
    components: {
        disqus,
    },
}
</script>